.card {
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid darkgray;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 500px;
  margin: 12px;
  background-color: lightgray;
  @apply
  text-gray-600;
}
.card-back {
  
}

.card:hover {
  background-color: bg-sky-100;
  color: darkgray; 
}
.card:hover + .hide {
  background-color: red;
  display:block;
}


.card:focus,
.card:active {
  color:darkgray;
  border-color: black;
}

.card h2 {
  margin: 0 0 0 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.card-inside {
  margin-left: 0;
  margin-right: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2px;
  width: 100%;
}
 
.ecard {
  transition: color 0.15s ease, border-color 0.15s ease;
}

.ecard:hover {
  color: darkgray;
  text-decoration: underline;
}
.ecard:focus,
.ecard:active {
  color: black;
  border-color: black;
}

.cardhov:hover {
  @apply
  font-semibold  
  bg-transparent
  rounded-xl 
  shadow-md
  hover:scale-105 
  ease-in-out duration-200 
  hover:bg-slate-600 
  hover:text-white;
}