.header {
  min-width: 100%;
  min-width: 100vw;
  width:100%;
  overflow-x:hidden;
  color: black;
  
  padding: 0;
  
  background-color: whitesmoke;
  //background: conic-gradient(black, gray, darkgray, red);
   /* A bluish purple box: the gradient goes from blue to red,
   but only the bottom right quadrant is visible, as the
   center of the conic gradient is at the top left corner */
  //background:conic-gradient(from 100deg at 0 0, #222021, teal);
  @apply
  shadow-xl;  
}

 

.header:hover {
}

.header img:hover {
 
}

.header-subnav{
  @apply
  mt-2 
  pt-4
  mr-1;
}
.header-subnav a:hover{
  text-decoration: underline 2px ;
  @apply
  text-slate-900;
}
.header-subnav button:hover {
  text-decoration: underline 1px ;
  @apply
  text-slate-900;
}

.header-subnav a:focus{
  color: teal;
}

